body {
    background-color:rgb(0, 0, 0);
}

#heading {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #ff0000;
    color: rgb(255, 201, 74);
}

p {
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li {
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.center {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.itemheading {
    grid-column-start: 2;
    grid-column-end: 6;
}