body {
    background-color:rgb(0, 0, 0);
}

#heading {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #ff0000;
    color: rgb(255, 201, 74);
}

p {
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

li {
    color:bisque;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.center {
    text-align: center;
}

img.border {
    border: 5px solid #f6e577;
    border-radius: 20px;
    width: 25rem;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
    place-items: center;
}

.itemheading {
    grid-column-start: 2;
    grid-column-end: 6;
}

.itemimg {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    width: 25rem;
}

.itemtext {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 4;
}

@media ( max-width : 1280px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;
        place-items: center;
    }
    .itemheading {
        grid-column-start: 1;
        grid-column-end: 6;
    }
    .itemimg {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .itemtext {
        grid-column-start: 3;
        grid-column-end: 6;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

@media ( max-width : 1080px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
        padding: 10px;
        place-items: center;
    }
    .itemheading {
        grid-column-start: 1;
        grid-column-end: 5;
    }
    .itemimg {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
    }
    .itemtext {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 2;
        grid-row-end: 4;
    }
}

@media ( max-width : 800px){
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        padding: px;
        place-items: center;
    }
    .itemheading {
        grid-row: 1;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .itemimg {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .itemtext {
        grid-row-start: 3;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
